body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin-top: 0px;
}

h1, h2, h4, h5 {
  text-align: center;
  margin: 0px;
  padding: 10px;
}

header {
  display: flex;
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  margin-left: 10px;
  background-color: black;
}

nav {
  margin-right: 30px;
}

nav a {
  text-decoration: underline;
  display: inline-block;
  color: white;
  padding: 20px 10px;
}

.logo {
  text-align: left;
  flex-grow: 1;
}

.logo img {
  height: 50px;
}

.maincontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.mission {
  display: flex;
  width: 1200px;
  height: 700px;
  background-image: url('../images/img-mission-background.jpg');
  align-items: center;
  margin-bottom: 30px;
}

.mission_content {
  background-color: black;
  width: 1200px;
}

.TeaOfMonth {
  display: flex;
  width: 1000px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.TeaOfMonth_content {
  margin: 10px 10px;
}

.TeaOfMonth img{
  height: 200px;
  width: 300px;
  padding-bottom: 10px;
}

.TeaOfMonth_caption{
  text-align: center;
  font-weight: bold;
}

.locations {
  display: flex;
  justify-content: center;
  background-image: url('../images/img-locations-background.jpg');
  height: 500px;
  width: 1200px;
  align-items: center;
}

.locations_content{
  background-color: black;
  opacity: 1;
  width: 300px;
  margin: 15px 20px;
  text-align: center;
}

.endcredits {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  margin-bottom: 30px;
}

footer {
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
}
